MulticluehnSolution/MulticluehnSolution.Web/Service References/WcfService/Service.wsdl

<?xml version="1.0" encoding="utf-8"?>
<wsdl:definitions xmlns:wsap="http://schemas.xmlsoap.org/ws/2004/08/addressing/policy" xmlns:wsa10="http://www.w3.org/2005/08/addressing" xmlns:tns="http://tempuri.org/" xmlns:msc="http://schemas.microsoft.com/ws/2005/12/wsdl/contract" xmlns:soapenc="http://schemas.xmlsoap.org/soap/encoding/" xmlns:wsx="http://schemas.xmlsoap.org/ws/2004/09/mex" xmlns:wsp="http://schemas.xmlsoap.org/ws/2004/09/policy" xmlns:wsam="http://www.w3.org/2007/05/addressing/metadata" xmlns:wsa="http://schemas.xmlsoap.org/ws/2004/08/addressing" xmlns:soap12="http://schemas.xmlsoap.org/wsdl/soap12/" xmlns:wsaw="http://www.w3.org/2006/05/addressing/wsdl" xmlns:soap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:wsu="http://docs.oasis-open.org/wss/2004/01/oasis-200401-wss-wssecurity-utility-1.0.xsd" xmlns:xsd="http://www.w3.org/2001/XMLSchema" name="Service" targetNamespace="http://tempuri.org/" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/">
  <wsdl:types>
    <xsd:schema targetNamespace="http://tempuri.org/Imports">
      <xsd:import schemaLocation="http://localhost:52007/Service.svc?xsd=xsd0" namespace="http://tempuri.org/" />
      <xsd:import schemaLocation="http://localhost:52007/Service.svc?xsd=xsd1" namespace="http://schemas.microsoft.com/2003/10/Serialization/" />
    </xsd:schema>
  </wsdl:types>
  <wsdl:message name="IService_TestGetData_InputMessage">
    <wsdl:part name="parameters" element="tns:TestGetData" />
  </wsdl:message>
  <wsdl:message name="IService_TestGetData_OutputMessage">
    <wsdl:part name="parameters" element="tns:TestGetDataResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrowdfundingPlanGetByID_InputMessage">
    <wsdl:part name="parameters" element="tns:CrowdfundingPlanGetByID" />
  </wsdl:message>
  <wsdl:message name="IService_CrowdfundingPlanGetByID_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrowdfundingPlanGetByIDResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrowdfundingPlanUpdate_InputMessage">
    <wsdl:part name="parameters" element="tns:CrowdfundingPlanUpdate" />
  </wsdl:message>
  <wsdl:message name="IService_CrowdfundingPlanUpdate_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrowdfundingPlanUpdateResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrowdfundingPlanAdd_InputMessage">
    <wsdl:part name="parameters" element="tns:CrowdfundingPlanAdd" />
  </wsdl:message>
  <wsdl:message name="IService_CrowdfundingPlanAdd_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrowdfundingPlanAddResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrowdfundingPlanGetAll_InputMessage">
    <wsdl:part name="parameters" element="tns:CrowdfundingPlanGetAll" />
  </wsdl:message>
  <wsdl:message name="IService_CrowdfundingPlanGetAll_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrowdfundingPlanGetAllResponse" />
  </wsdl:message>
  <wsdl:message name="IService_CrowdfundingPlanDelete_InputMessage">
    <wsdl:part name="parameters" element="tns:CrowdfundingPlanDelete" />
  </wsdl:message>
  <wsdl:message name="IService_CrowdfundingPlanDelete_OutputMessage">
    <wsdl:part name="parameters" element="tns:CrowdfundingPlanDeleteResponse" />
  </wsdl:message>
  <wsdl:portType name="IService">
    <wsdl:operation name="TestGetData">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrowdfundingPlan/TestGetData" message="tns:IService_TestGetData_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrowdfundingPlan/TestGetDataResponse" message="tns:IService_TestGetData_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrowdfundingPlanGetByID">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanGetByID" message="tns:IService_CrowdfundingPlanGetByID_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanGetByIDResponse" message="tns:IService_CrowdfundingPlanGetByID_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrowdfundingPlanUpdate">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanUpdate" message="tns:IService_CrowdfundingPlanUpdate_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanUpdateResponse" message="tns:IService_CrowdfundingPlanUpdate_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrowdfundingPlanAdd">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanAdd" message="tns:IService_CrowdfundingPlanAdd_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanAddResponse" message="tns:IService_CrowdfundingPlanAdd_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrowdfundingPlanGetAll">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanGetAll" message="tns:IService_CrowdfundingPlanGetAll_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanGetAllResponse" message="tns:IService_CrowdfundingPlanGetAll_OutputMessage" />
    </wsdl:operation>
    <wsdl:operation name="CrowdfundingPlanDelete">
      <wsdl:input wsaw:Action="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanDelete" message="tns:IService_CrowdfundingPlanDelete_InputMessage" />
      <wsdl:output wsaw:Action="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanDeleteResponse" message="tns:IService_CrowdfundingPlanDelete_OutputMessage" />
    </wsdl:operation>
  </wsdl:portType>
  <wsdl:binding name="BasicHttpBinding_IService" type="tns:IService">
    <soap:binding transport="http://schemas.xmlsoap.org/soap/http" />
    <wsdl:operation name="TestGetData">
      <soap:operation soapAction="http://tempuri.org/ICrowdfundingPlan/TestGetData" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrowdfundingPlanGetByID">
      <soap:operation soapAction="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanGetByID" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrowdfundingPlanUpdate">
      <soap:operation soapAction="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanUpdate" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrowdfundingPlanAdd">
      <soap:operation soapAction="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanAdd" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrowdfundingPlanGetAll">
      <soap:operation soapAction="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanGetAll" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
    <wsdl:operation name="CrowdfundingPlanDelete">
      <soap:operation soapAction="http://tempuri.org/ICrowdfundingPlan/CrowdfundingPlanDelete" style="document" />
      <wsdl:input>
        <soap:body use="literal" />
      </wsdl:input>
      <wsdl:output>
        <soap:body use="literal" />
      </wsdl:output>
    </wsdl:operation>
  </wsdl:binding>
  <wsdl:service name="Service">
    <wsdl:port name="BasicHttpBinding_IService" binding="tns:BasicHttpBinding_IService">
      <soap:address location="http://localhost:52007/Service.svc" />
    </wsdl:port>
  </wsdl:service>
</wsdl:definitions>