MulticluehnSolution/MulticluehnSolution.Web/Service References/ServiceReference1/Service1.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://tempuri.org/" elementFormDefault="qualified" targetNamespace="http://tempuri.org/" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:import schemaLocation="http://localhost:52007/Service.svc?xsd=xsd2" namespace="http://schemas.datacontract.org/2004/07/MulticluehnSolution.EntityModel" />
  <xs:element name="CrowdfundingPlanAdd">
    <xs:complexType>
      <xs:sequence>
        <xs:element xmlns:q1="http://schemas.datacontract.org/2004/07/MulticluehnSolution.EntityModel" minOccurs="0" name="model" nillable="true" type="q1:CrowdfundingPlanEntityModel" />
      </xs:sequence>
    </xs:complexType>
  </xs:element>
  <xs:element name="CrowdfundingPlanAddResponse">
    <xs:complexType>
      <xs:sequence />
    </xs:complexType>
  </xs:element>
</xs:schema>