MulticluehnSolution/MulticluehnSolution.Web/Service References/ServiceReference1/Service2.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema xmlns:tns="http://schemas.datacontract.org/2004/07/MulticluehnSolution.EntityModel" elementFormDefault="qualified" targetNamespace="http://schemas.datacontract.org/2004/07/MulticluehnSolution.EntityModel" xmlns:xs="http://www.w3.org/2001/XMLSchema">
  <xs:complexType name="CrowdfundingPlanEntityModel">
    <xs:sequence>
      <xs:element minOccurs="0" name="BegingDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrowdfundingAmount" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="CrowdfundingPlan" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="EndDate" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ID" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Percentage" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="Prerelease" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="ShortAlias" nillable="true" type="xs:string" />
      <xs:element minOccurs="0" name="SubmitDate" nillable="true" type="xs:string" />
    </xs:sequence>
  </xs:complexType>
  <xs:element name="CrowdfundingPlanEntityModel" nillable="true" type="tns:CrowdfundingPlanEntityModel" />
</xs:schema>